WebApp_Archivos/.vs
WebApp_Archivos/packages

WebApp_Autos/.vs
WebApp_Autos/packages

WebApp_Calculadora/.vs
WebApp_Calculadora/packages

WebApp_Catalogo/.vs
WebApp_Catalogo/packages

WebApp_Cookies/.vs
WebApp_Cookies/packages

WebApp_CRUDArticulos/.vs
WebApp_CRUDArticulos/packages

WebApp_CRUDUsuarios/.vs
WebApp_CRUDUsuarios/packages

WebApp_CRUDUsuarios2/.vs
WebApp_CRUDUsuarios2/packages

WebApp_Dinamicas/.vs
WebApp_Dinamicas/packages

WebApp_GridView/.vs
WebApp_GridView/packages

WebApp_HolaMundo/.vs
WebApp_HolaMundo/packages

WebApp_Inscripcion/.vs
WebApp_Inscripcion/packages

WebApp_MasterPage/.vs
WebApp_MasterPage/packages

WebApp_MultipleGrid/.vs
WebApp_MultipleGrid/packages

WebApp_Validaciones/.vs
WebApp_Validaciones/packages